# Build klasörleri
[Bb]in/
[Oo]bj/
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.map
packages/

# Diğer
ReSharper.user

# Visual Studio / Visual Studio Code
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Diğer
*.log
*.bak
/Markadan.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/Markadan.API/obj/Markadan.API.csproj.nuget.dgspec.json
/Markadan.API/obj/project.assets.json
/Markadan.API/obj/project.nuget.cache


.vs/
**/.vs/

# Derleme çıktıları (önerilir)
[Bb]in/
[Oo]bj/
/To do.txt
